html {
  font: 20px/24px sans-serif;
  box-sizing: content-box;
  background-color: #F8F8F8;
  color: #202020;
}

body {
  max-width: 50%;
  margin: 0 auto;
}

a {
  color: #505050;
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

li {
  list-style: circle;
}
